body {
    margin: 0;
    padding: 0;
    background-color: #fff5df;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

#hamnav {
    width: 100%;
}

#hamitems {
    display: flex;
}

#hamitems  a {
    flex-grow: 1;
    flex-basis: 0;
    color: #8a733e;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

#hamitems a:hover {
    background:black;
}

#hamnav label, #hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid darkbrown;
    }
}