.site {
    display: flex,
    flex-direction: column,
}

.navigation {
    background-color: red;
}

ul {
    list-style-type: none;
}

.section{
    display: flex;
}

.box {
    display: border 1px black solid;
}