body {
    margin: none;
}
.site {
    display: flex;
    flex-direction: column;
    max-width: 1200px;   
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

img {
    width: 100%;
}

.menu-category {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.nutrition-info {
    display: flex;
    justify-content: center;
}

.page_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.salads-menu {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    justify-content: space-between;
}

accompaniment-left {
    display: flex;
    justify-content: center;
}

.ad-banner {
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
}

.social-icon {
    list-style-type: none;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 25%;
    list-style-type: none;
}

.footer-list-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    list-style-type: none;
}