body {
    margin: 0;
    padding: none;
}

h1, h2, h3, h4, h5 {
    color: white;
}

nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: black ;
    height: 30vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-list {
    display:flex;
    justify-content: space-between;
}

.nav-link-item {
    color: white;
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

li {
    color: white;
}

.nav-logo {
    width: 96px;
    padding-top: 20px;
}

.main-content {
    background-color: black;
    padding-top: 11em;
    padding-bottom: 3em;
}

.red-balls {
    width: 100%;
    position: relative;
    text-align: left;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.brightsmith {
    width: 100%;
    position: relative;
    text-align: left;
    color: white;
    background-color: forestgreen;
    height: 500px;
}

.venn-life {
    width: 100%;
    position: relative;
    text-align: left;
    color: white;
}

.hvivo {
    width: 100%;
    position: relative;
    text-align: left;
    color: white;
    background-color: orange;
    height: 500px;
}

.craig-david {
    width: 100%;
    position: relative;
    text-align: left;
    color: white;
}

footer {
    width: 100%;
}
.footer-parent {
    display: flex;
    padding-top: 50px;
    padding-bottom: 25px;
    justify-content: space-between;
    margin-left: 20px;
    background-color: black;
}

.footer-heading {
    text-align: center;
}

.location {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    font: white;
}

.inquiries {
    display: flex;
    font: white;
}

.social {
    display:flex;
}

.social-container {
    display: block;
}

p {
    color: white;
}

.small-heading {
    color: #646464;
    margin-bottom: 20px;
}

.social-icon {
    width: 25px;
    height: 25px;
}

.text-span {
    display: inline-block;
}

.home-sub-title {
    color:grey;
}

.pager-wrapper {
    width: 100%;
    object-fit: fill;
    font: white;
    background-color: black;
}

.copyright-info {
    color: 646464;
}

