body {
    margin: 0px;
    padding: 0px;
}
.jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}
hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   box-sizing: content-box;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}   
    
