nav {
    width: 100%;
    overflow: hidden;
    background-color:black;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: white;}
ul {
    list-style-type: none;
    display: inline-block;
}
.blackberry-button {
    background-color: pink;
}
.nav-list-item {
   display: inline-block;
}
li {
    margin-left: 10px;
}
li a {
    display: inline-block;
}
a {
    color: white;
}