img {
    display: inline-block;
}
.hero {
    background-image: url('./images/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.text-align {
    text-align: center;
}
@media (min-width: 1200px) {
    .container-xl, .container-lg {
        max-width: 1140px;
    }
}
.container {
    padding-right: auto;
    padding-left: auto;
}  
.text-center {
    text-align: center;
}
.testimonials {
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.testimonial-item {
    max-width: 18rem;
}

img {
    display: inline-block;
}
.container .features-section {
    background-color: #f8f9fa;
}
.showcase {
    width: 100%;
}
.show-case img {
    min-height: 30rem;
    background-size: cover;
}
.list-inline-item {
    display: inline-block;
}
.hero-2 {
    background-image: url('./images/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
